# Windows image file caches
Thumbs.db
ehthumbs.db
plugins/
.tern-defs/
Digital-Account.xdk
Digital-Account.xdke
intelxdk.config.additions.xml
xdk-publish-meta-data.json
.jscodehints
icon.png
screenshot.png
www/xdk/
intelxdk.config.additions.xml
intelxdk.config.android.xml
intelxdk.config.chrome.xml
intelxdk.config.ios.xml
intelxdk.config.windows.xml
intelxdk.config.windows8.xml
intelxdk.config.wp81.xml



# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
